<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<main class="flex flex-col items-center justify-center h-screen">
    <div class="p-4 m-10 rounded-3xl bg-white">
        <!-- <div class="p-2 m-2 text-left text-lg text-buttongreen">
        <button id="chatlogHistoryEditButton"> Edit </button>
    </div> -->
        <div class="text-left text-4xl p-2 m-2 font-bold"> Favourites </div>

        <div class="flex justify-center">
            <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myCookbookButton">
                My Cookbook </button>
            <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myIngredientsButton"> My
                Ingredients
            </button>
        </div>
        <div class="w-full max-w-xs">
            <ul id="favorites-list" class="mb-4">
                <!-- Favorite recipes will be dynamically added here -->
                <% for (let i=0; i < recipes.length; i++) { %>
                <a href="/recipe/<%= recipes[i]._id %>">

                    <li class="bg-white shadow-md rounded mb-4 p-4 flex flex-col justify-between items-start">
                        <%- include('templates/recipeCard', {recipe: recipes[i]}) %>
                    </li>
                </a>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include("templates/footer") %>


    <script>
    </script>
    </body>

    </html>