<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<main class="flex flex-col items-center justify-center h-screen" style="max-height:75vh;">
    <% for (let i=0; i < recipes.length; i++) { %>
    <div class="p-4 m-10 rounded-3xl bg-white recipes overflow-y-auto max-h-80" id="recipe-<%= i %>" style="display: none">
        <div class="text-left text-4xl p-2 m-2 font-bold"><%= recipes[i].recipeName %></div>
        <div class="flex flex-row">
            <form action="/removeRecipe" method="post">
                <input type="hidden" name="id" value="<%= recipes[i]._id %>">
                <button type="submit" class="material-icons text-2xl text-green-500">delete</button>
            </form>
        </div>
        <h4>Ingredients:</h4>
        <ul class="list-disc list-inside">
            <% for(let j=0; j < recipes[i].ingredients.length; j++) { %>
            <li>
                <%= recipes[i].ingredients[j].amount %> <%= recipes[i].ingredients[j].unit %> <%= recipes[i].ingredients[j].name %>
            </li>
            <% } %>
        </ul>
        <div>
            <span style="white-space: pre-line"><br><%= recipes[i].steps %></span>
        </div>
    </div>
    <% } %>

    <div class="p-4 m-10 rounded-3xl bg-white" id="cookbook-content-container">
        <div class="flex justify-center mb-4" id="cookbook-buttons">
            <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myCookbookButton">
                <a href="/Cookbook">My Cookbook</a>
            </button>
            <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myIngredientsButton">
                My <a href="/myIngredients">Ingredients</a>
            </button>
        </div>
        <div class="p-4 rounded-3xl bg-white overflow-y-auto max-h-80" id="cookbook-content">
            <div class="w-full max-w-xs">
                <ul id="favorites-list" class="mb-4">
                    <!-- Favorite recipes will be dynamically added here -->
                    <% for (let i=0; i < recipes.length; i++) { %>
                    <li class="bg-white shadow-md rounded mb-4 p-4 flex flex-col justify-between items-start recipe-name"
                        id="<%= i %>">
                        <%- include('templates/recipeCard', {recipe: recipes[i]}) %>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>

    <style>
        .recipes,
        #cookbook-content {
            overflow-y: auto;
            max-height: 80vh; /* Adjust the value as needed */
        }

        #cookbook-content-container {
            width: 100%;
        }

        #cookbook-buttons {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: white;
        }
    </style>

    <script>
        const recipe = document.getElementsByClassName("recipe-name");
        for (let i = 0; i < recipe.length; i++) {
            recipe[i].addEventListener("click", function () {
                document.getElementById("cookbook-content-container").style.display = "none";
                document.getElementById("recipe-" + i).style.display = "block";
            });
        }
    </script>
</main>
</body>
</html>
