<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

        <main class="flex flex-col items-center justify-center h-screen">
            <% for (let i=0; i < recipes.length; i++) { %>
            <div class="p-4 m-10 rounded-3xl bg-white recipes" id="recipe-<%= i %>" style="display: none">
                    <div class="text-left text-4xl p-2 m-2 font-bold"> <%= recipes[i].recipeName %> </div>
                    <div class="flex flex-row">
                        <form action="/removeRecipe" method="post">
                            <input type="hidden" name="id" value="<%= recipes[i]._id %>">
                            <button type="submit" class="material-icons text-2xl text-green-500">delete</button>
                        </form>
                    </div>
                    <h4>Ingredients:</h4>
                    <ul class="list-disc list-inside">
                        <% for(let j=0; j < recipes[i].ingredients.length; j++) { %>
                            <li>
                                <%= recipes[i].ingredients[j].amount %>
                                    <%= recipes[i].ingredients[j].unit %>
                                        <%= recipes[i].ingredients[j].name %>
                            </li>
                            <% } %>
                    </ul>
                    <div>
                        <span style="white-space: pre-line">
                            <%= recipes[i].steps %>
                        </span>
                    </div>
                    <% } %>
            </div>
            <div class="p-4 m-10 rounded-3xl bg-white" id="cookbook-content">

                <div class="flex justify-center">
                    <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myCookbookButton">
                        My Cookbook </button>
                    <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myIngredientsButton"> My
                        Ingredients
                    </button>
                </div>
                <div class="w-full max-w-xs">
                    <ul id="favorites-list" class="mb-4">
                        <!-- Favorite recipes will be dynamically added here -->
                        <% for (let i=0; i < recipes.length; i++) { %>
                                <li
                                    class="bg-white shadow-md rounded mb-4 p-4 flex flex-col justify-between items-start recipe-name" id="<%= i %>">
                                    <%- include('templates/recipeCard', {recipe: recipes[i]}) %>
                                </li>
                            
                            <% } %>
                    </ul>
                </div>

            </div>
            <%- include("templates/footer") %>
                <script>
                    const recipe = document.getElementsByClassName("recipe-name");
                    for (let i = 0; i < recipe.length; i++) {
                        recipe[i].addEventListener("click", function () {
                            
                            document.getElementById("cookbook-content").style.display = "none";
                            document.getElementById("recipe-" + i).style.display = "block";
                            
                        });
                    }
                </script>
                </body>

                </html>