<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<main class="flex flex-col items-center justify-center h-screen">
    <div class="w-full max-w-xs">
        <h2 class="block text-gray-700 text-lg font-bold mb-4">My Cookbook</h2>
        <ul id="favorites-list" class="mb-4">
            <!-- Favorite recipes will be dynamically added here -->
            <% for (let i = 0; i < recipes.length; i++) { %>
                <a href="/recipe/<%= recipes[i]._id %>">
                
                    <li class="bg-white shadow-md rounded mb-4 p-4 flex flex-col justify-between items-start">
                        <%- include('templates/recipeCard', {recipe: recipes[i]}) %>
                    </li>
                </a>
            <% } %>
        </ul>
    </div>
</main>

<%- include("templates/footer") %>

<script>
</script>
</body>

</html>