<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<!-- 
*-----------------------------------------------------------*
|   Main homepage to chat with ReciPT when user logged in   |    
*-----------------------------------------------------------*  
-->
<!-- Chatbox: connected to chatlog.ejs -->
<main class="flex flex-col items-center justify-center h-screen" style="max-height:75vh;">
    <% if (show) { %>
    <div class="flex flex-col items-center">
        <img src="/recipt_logo.png" alt="ReciPT Logo" class="w-100 h-10 mr-2">
        <p class="mt-4 text-lg text-gray-700">How can I help you today?</p>
    </div>
    <% } else { %>
    <div id="query-logs" class="flex flex-col justify-between m-4">
        <% for(let i=2; i < response.length; i++) { %>
        <% if (i%2==0) { %>
        <%- include('templates/chatlog', {log: response[i].content, user: 'ReciPT' , isRecipe: isRecipe[i]}) %>
        <% } else { %>
        <%- include('templates/chatlog', {log: response[i].content, user: 'You' , isRecipe: isRecipe[i]}) %>
        <% } %>
        <% } %>
    </div>
    <% } %>

    <!-- Send user input to database -->
    <div id="chatbot-container" class="flex flex-row items-center">
        <form action="/home" method="post" class="flex-grow">
            <input class="w-full shadow-lg bg-gray-300 p-2 m-2 italic" style="min-width: 200px;"
                placeholder="Type your message here" type="text" id="query" name="query">
            <button id="send-btn" type="submit"
                class="p-2 m-2 bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Send
            </button>
        </form>
    </div>
</main>

<%- include("templates/footer") %>

<style>
#query-logs {
    overflow-y: auto;
    max-height: 80vh; /* Adjust the value as needed */
}
</style>

<script>
</script>
