<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>


<main class="flex flex-col items-center justify-center h-screen">
    <div class="w-full max-w-xs">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="block text-gray-700 text-lg font-bold mb-4">User Information</h2>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
                <p id="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
                    <%= user.username %></p>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <p id="email"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
                    <%= user.email %></p>
            </div>
            <form action="/updateUserEmail" method="post">
                <input type="email" name="newEmail" placeholder="New email">
                <button type="submit">Update email</button>
            <br>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="role">Role</label>
                <p id="role"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
                    <%= user.role %></p>
            </div>
            <div class="flex items-center justify-between">
                <a href="/edit-profile"
                    class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Edit Profile
                </a>
            </div>
        </div>
    </div>
</main>
<!-- Displays messages from server -->
<%- include("templates/message") %>

<%- include("templates/footer") %>