<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>
<!-- Display user info -->
<br>
<%= user.username %>
<br>
<%= user.email %>
<form action="/updateUserEmail" method="post">
    <input type="email" name="newEmail" placeholder="New email">
    <button type="submit">Update email</button>
<br>
<%= user.role %>
<br>
<!-- Displays messages from server -->
<%- include("templates/message") %>

<%- include("templates/footer") %>