<!-- Contains the html document header with the start of the body tag -->
<%- include("templates/htmlDocHeader") %>

    <!-- Top navbar -->
    <%- include("templates/header") %>

        <main class="flex flex-col items-center justify-center">
            <div class="w-full max-w-xs">
                <div class="flex flex-row">
                    <h3 class="text-gray-700 font-bold">
                        <%= recipe.recipeName %>
                    </h3>
                    <form action="/removeRecipe" method="post">
                        <input type="hidden" name="id" value="<%= recipe._id %>">
                        <button type="submit" class="material-icons text-2xl text-green-500">delete</button>
                    </form>
                </div>

                <h4>Ingredients:</h4>
                <ul class="list-disc list-inside">
                    <% for(let i=0; i < recipe.ingredients.length; i++) { %>
                        <li>
                            <%= recipe.ingredients[i].amount %>
                                <%= recipe.ingredients[i].unit %>
                                    <%= recipe.ingredients[i].name %>
                        </li>
                        <% } %>
                </ul>
                <div>
                    <span style="white-space: pre-line">
                        <%= recipe.steps %>
                    </span>
                </div>
            </div>
        </main>

        <!-- Bottom navbar with end of body tag -->
        <%- include("templates/footer") %>